# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# http://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     TZ_Covid_Mapper
    database_user:     root
    database_password: ~
    # You should uncomment this if you want use pdo_sqlite
    # database_path: "%kernel.root_dir%/data.db3"

    mq_username: guest
    mq_password: guest
    mq_vhost: /nec_process

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    # A secret key that's used to generate certain security-related tokens
    secret:            ThisTokenIsNotSoSecretChangeIt

    #The maximum number of elements to be displayed by the grid view
    grid_per_page_limit:    10
    permissions_file: '%kernel.root_dir%/config/permissions.yml'
    region_images_directory: '%kernel.root_dir%/../web/file_uploads/region_images_upload'


