<!DOCTYPE >
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script type="text/javascript">
        function init()
        {
            var testVal = 'Привет от Android Tools!';
            AndroidFunction.showToast(testVal);
        }
    </script>
</head>
<body>
<div style="clear: both;height: 3px;"> </div>
<div>
    <input value="submit" type="button" name="submit"
           id="btnSubmit" onclick="javascript:return init();" />
</div>

<div id="msg">0</div>
<script>
    function increment(value,value_2) {
        var ob = document.getElementById("msg");
        ob.innerText = parseInt(ob.innerText) + parseInt(value)+parseInt(value_2);
    }
</script>


</body>
</html>