{% extends 'main/app.base.html.twig' %}

{% block title %}{{ app_name }}{% endblock %}

{% block content %}
    {{ parent() }}

    {% block dashboard %}
        <div class="col12 white-space drop-shadow">
            <div class="col8">
                <div class="container">
                        <div class="space-20"></div>
                        <h1 class="styled-header no-border-bottom">TANZANIA SOIL MAP</h1>

                        <div class="clear"></div>

                    <div id="map-render"></div>

                </div>
            </div>
            <div class="col4 last">
                <div class="space"></div>
                <div id="statistics">
                </div>
            </div>
            <div class="col12 space-20"></div>
        </div>

    {% endblock %}

{% endblock %}