{% extends 'base.html.twig' %}

{% block title %}{{ app_name }} | Dashboard{% endblock %}

 {% block stylesheets %}
     {{ parent() }}
 {% endblock %}

{% block body %}

    {{ parent() }}

    <div class='col12' id="content-horizontal">
        <div class='section-inner'>
            <div class="page-title white-space col12">
                <div class="container no-mobile" id="nav">
                   {{ knp_menu_render('main', {'template': ':menu:breadcrumb.html.twig'}) }}
                </div>
            </div>
            <div class="clear"></div>
            {% block content %}{% endblock %}
        </div>
    </div>

{% endblock %}

