<div id="graph-content" class="container">
    <div class="space-20"></div>
    <h1 class="styled-header no-border-bottom">OVERVIEW OF COVID-19 CASES IN TANZANIA</h1>
    <div class="col6">
        <div id="canvasTotal" style="height:400px;margin-top:20px;"></div>
        <div class="space-20"></div>
    </div>

    <div class="col6 last">
        <div id="canvasDaily" style="height:400px;"></div>
        <div class="space-20"></div>
    </div>

    <div class="col6">
        <div id="canvasRecovered" style="height:400px;"></div>
    </div>

    <div class="col6 last">
        <div id="canvasFatal" style="height:400px;"></div>
        <div class="space-20"></div>
    </div>


    <div class="clear"></div>
</div>