<div id="map-content" class="container">
    <div class="space-20"></div>
    <h1 class="styled-header no-border-bottom">TANZANIA SOIL MAP</h1>
    <h3 class="styled-header">Click at any point to get more data</h3>

    <div class="clear"></div>

    <div id="map-render">
        <div id="map-loader" class="align-center"><img src="{{ asset('images/loaders/ie_loader.gif') }}" alt="Loading"></div>
    </div>

</div>